<form action="/add" method="post" class="p-5">
  <div class="form-group">
    <label for="name">Product Name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      id="name"
      aria-describedby="emailHelp"
      placeholder="Enter Product Name"
    />
  </div>
  <div class="form-group">
    <label for="des">Product Description</label>
    <input
      name="des"
      type="text"
      class="form-control"
      id="des"
      aria-describedby="emailHelp"
      placeholder="Enter Product Description"
    />
  </div>
  <div class="form-group">
    <label for="price">Product Price</label>
    <input
      type="text"
      name="price"
      class="form-control"
      id="price"
      aria-describedby="emailHelp"
      placeholder="Enter Product Price"
    />
  </div>
  <div class="form-group">
    <label for="image">Product Image</label>
    <input
      type="text"
      name="img"
      class="form-control"
      id="image"
      aria-describedby="emailHelp"
      placeholder="Enter Product Image Url"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
